*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 135px 38px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: end; /*вопросы к трём пунктам*/
  min-width: 1140px;
  gap: 32px;
}

.result {
  width: 100%;
  height: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  min-height: 54px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', 'sans-serif';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
  margin-top: 10px;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', 'sans-serif';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', 'sans-serif';
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 2%;
  color: #fff;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 1);
  background-color: #1b1919;
  appearance: none;
  display: flex;
  gap: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox {
  font-family: 'Fira Sans Condensed', 'sans-serif';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + 
.search-form__pseudo-checkbox::after {
  opacity: 1
}

.search-form__label:hover:has(.search-form__pseudo-checkbox) {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  border: 1px solid #fff;
  font-family: 'Fira Sans Condensed', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: transparent;
  color: #fff;
}

.search-form__submit-button {
  text-align: center;
  width: 194px;
  height: 34px;
  top: 20px;
  left: 517px;
  align-self: self-end;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.title {
  font-family: 'Oswald', 'sans-serif';
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  padding-top: 1px;
}

.content__accent {
  color: rgba(255, 255, 255, 0.2);
}

.content__list-container {
  height: 298px;
  width: 399px;
  overflow: auto;
  display: grid;
  position: relative;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 395px;
  padding-right: 4px;
}

.content__card-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  display: block;
}

.content__card-link_current {
  background-color: transparent;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: 'Oswald', 'sans-serif';
  font-weight: 700;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  max-width: 196px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', 'sans-serif';
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 17px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  max-height: 103px;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-top: 4px;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  height: 103px;
  min-width: 194px;
}

.more-button {
  width: 390px;
  height: 34px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}